<div class="repo-user-card">
  <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener noreferrer">
    <img src="https://github.com/{{ include.username }}.png?size=100" alt="{{ include.username }} avatar" class="repo-user-avatar">
    <span class="repo-user-name">{{ include.username }}</span>
  </a>
</div>
